<link rel="stylesheet" type="text/css" href="css/about.css">
<div id="main_about">
    <div class="photos">
        <div class="about_info">
            <div class="back_img">
                <img id="largeImg" src="img/about_me/1.jpg" alt="Large image">
            </div>
            <div class="about_text">
                {{__ "about_text"}}
            </div>
        </div>
        <ul id="thumbs">
            <li>
                <a href="img/about_me/1.jpg" title="Image 2">
                    <img src="img/about_me/1.jpg" alt="first photo">
                </a>
            </li>
            <li>
                <a href="img/about_me/2.jpg" title="Image 3">
                    <img src="img/about_me/2.jpg" alt="second photo">
                </a>
            </li>
            <li>
                <a href="img/about_me/3.jpg" title="Image 4">
                    <img src="img/about_me/3.jpg" alt="third photo">
                </a>
            </li>
            <li>
                <a href="img/about_me/4.jpg" title="Image 5">
                    <img src="img/about_me/4.jpg" alt="fourth photo">
                </a>
            </li>
            <li>
                <a href="img/about_me/5.jpg" title="Image 6">
                    <img src="img/about_me/5.jpg" alt="fifth photo">
                </a>
            </li>
        </ul>
    </div>
</div>
<script async src="js/changeImage.js"></script>