<div id="main_home">
    <img src="img/me_photo.png" alt="Me" class="me_photo" />
    <div class="outer"><button class="resume" onclick="location.href='/download';">{{__ "resume"}}</button></div>
    <img src="img/me_pix.png" class="me_pixel" />
    <h1>Aliaksandr <span>Kakhanovich</span></h1>
</div>