<link href="css/work.css" rel="stylesheet" type="text/css">
<div id="main_work">
    <div class="switch">
        <ul class="works">
            <li class="li_drawings">
                <div class="drawings"></div>{{__ "drawings"}}
            </li>
            <li class="li_plasts">
                <div class="plasts"></div>{{__ "plasts"}}
            </li>
            <li class="li_projects">
                <div class="projects">{{__ "progs"}}</div>
            </li>
        </ul>
    </div>
    <div class="show-area">
    </div>
</div>
<link href="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.9.0/viewer.min.css" rel="stylesheet">
<script async src="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.9.0/viewer.min.js"></script>
<script type="module" async src="./js/getData.js"></script>
<script type="module" async src="./js/context.js"></script>
<script type="module" async src="./js/drawingRender.js"></script>
<script type="module" async src="./js/plastRender.js"></script>
